.blog-short {
  border-bottom:1px solid #ddd;
  padding-bottom:30px;
  display: table;

  .excerpt {
    min-height:100px;
  }
}

.margin10 {
  margin-bottom:10px;
  margin-right:10px;
}

.blog-excerpt a {
	color: #6c757d !important;
  display: block !important;
}

.bg-purple {
  background-color: var(--purple);
}

.syndication-post-image,
.blog-post-image {
  float: left;
  height: 4em;
  width: auto;
  margin: 8px 16px 16px 0;
}

.fa {
  margin-right: 4px;
}