body {
  font-size: 144%;
}

article {
  min-height: 24em;
}

a,
a:hover {
  color: #000000;
  text-decoration: underline;
}

blockquote {
  margin-left: 2em;
  font-style: italic;
}

.py-7 {
  padding: 4em 0;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.video > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.alternate {
  background-color: #DDEEEE;
}

footer,
footer a,
footer a:hover {
  color: #DDEEEE;
  background-color: #000000;
}

#light1,
#light2,
#light1 code {
  color: white;
}

#light1 h2,
#light1 p,
#light2 h2,
#light2 p {
  background-color: rgba(0, 0, 0, 0.62);
}

#light1 {
  background-image: url('/assets/img/light1.jpeg');
  background-attachment: fixed;
  background-size: cover;
}

#light2 {
  background-image: url('/assets/img/light2.jpeg');
  background-attachment: fixed;
  background-size: cover;
}

.syndication-post,
.blog-post {
  margin: 0 0 1em 0;
}

.syndication-post-title,
.blog-post-title: {
  margin: 0;
}

.syndication-post-author {
  font-size: 80%;
  font-weight: bold;
  margin: 0;
}

.syndication-post-date,
.blog-post-date {
  font-size: 80%;
  margin: 0;
}

.syndication-post-summary,
.blog-post-summary {
  margin: 1em 0;
}

.syndication-post-image,
.blog-post-image {
  float: left;
  margin: 0 1em 1em 0;
  width: auto;
  height: 4em;
  position: relative;
  top: 0.5em;
}

#waiting {
  position: absolute;
  width: 24em;
  height: 6em;
  left: 50%;
  top: 50%;
  margin-left: -12em; 
  margin-top: -3em;
  border: 1px solid black;
  background-color: #DDEEEE;
}
