body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: red;
}

a:visited {
    color: darkred;
}

main > nav > ul > li > a,
main > nav > ul > li > a:visited,
main > nav > ul > li > a:hover {
    text-decoration: none;
    padding: 1em 0;
}

main > nav > ul > li > a,
main > nav > ul > li > a:visited {
    color: black;
}

main > nav > ul > li > a.current,
main > nav > ul > li > a:hover {
    color: red;
}

main > article {
    padding: 2em 1em;
}

main > article> h2:first-child {
    margin-top: 0;
}

main > article > h2 {
    font-weight: lighter;
    font-size: 128%;
    margin: 2em 0 0.8em 0;
    clear: both;
}

main > article > p,
main > article > ul > li {
    line-height: 160%;
    margin: 0 0 0.8em 0;
}

main > article > ul {
    margin-top: 0;
    margin-bottom: 0;
}

.figure {
    width: 24%;
    height: auto;
    float: right;
    margin: 0 0 0 2em;
}

footer > ul {
    display: block;
    background-color: #e0e0e0;
    list-style-type: none;
}

footer > ul > li {
    display: inline-block;
    font-size: 90%;
    text-align: center;
    width: 32%;
    padding: 1em 0;
}

footer > ul > li > a,
footer > ul > li > a:visited,
footer > ul > li > a:hover {
    text-decoration: none;
}

footer > ul > li > a,
footer > ul > li > a:visited {
    color: black;
}

footer > ul > li > a.current,
footer > ul > li > a:hover {
    color: red;
}

a#meetup {
padding-left: 1.44em;
text-decoration: none;
background: url(/assets/img/meetup.svg) no-repeat;
background-size: auto 100%;
}

a#telegram {
    padding-left: 1.44em;
    text-decoration: none;
    background: url(/assets/img/telegram.svg) no-repeat;
    background-size: auto 100%;
}

a#youtube {
    padding-left: 1.44em;
    text-decoration: none;
    background: url(/assets/img/youtube.svg) no-repeat;
    background-size: auto 100%;
}

@media screen and (max-device-width: 512px) {
    body {
        font-size: 20pt;
    }

    header {
        display: grid;
        grid-template-columns: 64px 1fr;
    }

    a#logo {
        height: 64px;
        width: 64px;
        background: url(/assets/img/logo.svg);
        background-size: contain;
    }

    h1#title {
        font-weight: lighter;
        font-size: 120%;
        text-align: center;
        align-self: end;
    }

    main > nav {
        font-weight: lighter;
        font-size: 110%;
        letter-spacing: 0.1em;
    }

    main > nav > ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #e0e0e0;
    }

    main > nav > ul > li {
        display: inline-block;
        width: 49%;
        text-align: center;
        padding: 1em 0;
    }

    footer > ul > li {
        display: inline-block;
        font-size: 90%;
        text-align: center;
        width: 100%;
        padding: 1em 0;
    }
}

@media screen and (min-device-width: 513px) and (max-device-width: 840px) {
    body {
        font-size: 20pt;
    }

    header {
        display: grid;
        grid-template-columns: 128px 1fr;
    }

    a#logo {
        height: 128px;
        width: 128px;
        background: url(/assets/img/logo.svg);
        background-size: contain;
    }

    h1#title {
        font-weight: lighter;
        font-size: 130%;
        text-align: center;
        align-self: end;
    }

    main > nav {
        font-weight: lighter;
        font-size: 110%;
        letter-spacing: 0.1em;
    }

    main > nav > ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #e0e0e0;
    }

    main > nav > ul > li {
        display: inline-block;
        width: 46%;
        text-align: center;
        padding: 1em 0;
    }
}

@media screen and (min-device-width: 841px) and (max-device-width: 1024px) {
    body {
        font-size: 20pt;
    }

    header {
        display: grid;
        grid-template-columns: 128px 1fr;
    }

    a#logo {
        height: 128px;
        width: 128px;
        background: url(/assets/img/logo.svg);
        background-size: contain;
    }

    h1#title {
        font-weight: lighter;
        font-size: 160%;
        text-align: center;
        align-self: end;
    }

    main > nav {
        font-weight: lighter;
        font-size: 120%;
        letter-spacing: 0.1em;
    }

    main > nav > ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #e0e0e0;
    }

    main > nav > ul > li {
        display: inline-block;
        text-align: center;
        width: 23%;
        padding: 1.4em 0;
    }
}

@media screen and (min-device-width: 1025px) {
    body {
        font-size: 16pt;
        background: url(/assets/img/header-background.png) repeat-x;
    }

    header,
    main,
    footer {
        min-width: 48em;
        max-width: 64em;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 256px 1fr;
    }

    a#logo {
        height: 256px;
        width: 256px;
        background: url(/assets/img/logo.svg);
        background-size: contain;
    }

    h1#title {
        font-weight: lighter;
        font-size: 160%;
        text-align: center;
        align-self: end;
        letter-spacing: 0.1em;
    }

    main > nav {
        font-weight: lighter;
        letter-spacing: 0.1em;
        padding-top: 2em;
    }

    main > nav > ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    main > nav > ul > li {
        font-size: 128%;
        text-align: center;
        margin-bottom: 1em;
    }

    footer > ul {
        grid-column-start: 2;
        grid-column-end: 3;
    }
}
