.color-accent {
    color: #FF4752;
}

header {
    height: 100px;
    background-color: #6F4AFFCC;
    position: relative;
}

a#home {
    display: inline-block;
    color: transparent;
    width: 12.5vw;
    height: 12.5vw;
    background-image: url('logo.png');
    background-size: cover;
    position: absolute;
    left: 2.5vw;
    top: 2.5vw;
}

a#dropdown-menu {
    display: inline-block;
    color: transparent;
    vertical-align: middle;
    width: 12.5vw;
    height: 12.5vw;
    background-image: url('dropdown-menu.png');
    background-size: cover;
    position: absolute;
    right: 2.5vw;
    top: 2.5vw;
}

header > nav {
    
}