<!doctype html>
<html lang="{{ page.lang | default: site.lang }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title | escape }}{% else %}}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    {% feed_meta %}
  </head>
  <body>
    <div class="container">
      <div class="row no-gutters">
        <a class="col-3" href="/"><img src="/img/dilbert.jpg" style="width: 100%; height: auto" /></a>
        <div class="col-9 text-center">Московский клуб программистов</div>
      </div>
      <div class="row">
        <nav class="col-12 col-lg-3">
          <ul class="nav nav-fill flex-column">
            <li class="nav-item">
              <a class="nav-link" href="/syndication/">Блоги</a>            
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/results/">Результаты</a>
            </li>
          </ul>
        </nav>
        <main class="col-12 col-lg-9">
          {{ content }}
        </main>
      </div>
    </div>
  </body>
</html>
