---
layout: default
---

<div class="row g-4">
  <div class="col-lg-8 mx-auto">
    <div class="vstack gap-4">
      <div class="card card-body">
        {% if page.image %}
        <img class="rounded img-fluid" src="{{ page.image }}" alt="{{ page.title | escape }}">
        {% endif %}
        <div class="mt-4">
          <h1 class="mb-2 h2">{{ page.title | escape }}</h1>
          <p><i class="bi bi-calendar-date pe-1"></i>{{ page.date | date: "%d.%m.%Y" }}</p>
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</div>

{% if page.videos %}
{% for video in page.videos %}
<div class="row g-4 mb-4">
  <div class="col-lg-8 mx-auto">
    <div class="card card-body p-0 rounded-end-lg-0 position-relative h-100">
      <div class="card-image">
        <div class="overflow-hidden fullscreen-video w-100">
          <div class="player-wrapper card-img-top overflow-hidden video">
            <iframe width="560" height="315" src="{{ video }}"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endif %}

{% if page.gallery %}
<div class="row g-4 mb-4">
  <div class="col-lg-8 mx-auto">
    <div class="row text-center text-lg-start">
      {% for mage in page.gallery %}
      <div class="col-lg-3 col-md-3 col-6">
        <a href="{{ image }}" class="d-block mb-4 h-100" target="_blank">
          <img class="img-fluid img-thumbnail" src="{{ image }}" alt="{{ page.title | escape }}">
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}