---
layout: default
---

<div class="row g-4">
  <div class="col-lg-8 mx-auto">
    <div class="vstack gap-4">
      <div class="card card-body">
        {% if page.image %}
        <img class="rounded" src="{{ page.image }}" alt="{{ page.title | escape }}">
        {% endif %}
        <div class="mt-4">
          <h1 class="mb-2 h2">{{ page.title | escape }}</h1>
          <p><i class="bi bi-calendar-date pe-1"></i>{{ page.date | date: "%d.%m.%Y" }}</p>
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</div>
{% if page.gallery_images %}
<div class="row text-center text-lg-start g-4">
  {% for gallery_image in page.gallery_images %}
  <div class="col-lg-3 col-md-4 col-6">
    <a href="{{ gallery_image }}" class="d-block mb-4 h-100" target="_blank">
      <img class="img-fluid img-thumbnail" src="{{ gallery_image }}" alt="{{ page.title | escape }}">
    </a>
  </div>
  {% endfor %}
</div>
{% endif %}